<html>
   <body>

   <div> Formatty: <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/file_list">File List</a>
    <a href="/download">Download</a>

  </body>
</html>

<head>
  <title>Formatty</title>
  <style>
  h1{
    color: orange;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  p{
    color:orange;
    display: flex;
    justify-content: center;
    text-align: center;

  }
  </style>

</head>

<body style="background-color: dimgrey">


<header>
  <h1 >
    FORMATTY
  </h1>
</header>
<p>
    Upload any file:

  <form style="text-align:center"action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="inputFile" />
    <input type="submit" />
  </form>
</p>

</body>
</html>
