<html>
   <body>
      <form action = "/upload" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>   
   </body>
</html> 

<head>
  <title>Flask test app</title>

</head>

<body style="background-color: dimgrey">


<header>
  <h1 style="color:orange; text-align:center">
    FORMATTY
  </h1>
</header>
<p style="color:orange; text-align:center">
    Upload any file:

  <form style="text-align:center"action="/action_page.php">
    <input style="color:orange" type="file" id="myfile" name="filename">
    <input type = "submit" value="Submit">
  </form>
</p>

</body>
</html>
