<html>
   <body>

   <div> Formatty: <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/file_list">File List</a>
    <a href="/download">Download</a>

  </body>
</html>

<head>
  <title>Flask test app</title>

</head>

<body style="background-color: dimgrey">


<header>
  <h1 style="color:orange; text-align:center">
    FORMATTY
  </h1>
</header>
<p style="color:orange; text-align:center">
    Upload any file:

  <form style="text-align:center"action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="inputFile" />
    <input type="submit" />    
  </form>
</p>

</body>
</html>
