<!DOCTYPE html>
<html>
  
   <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/file_list">File List</a></li>
    <li><a href="/download">Download</a></li>
     <li style="float:right"><a class="active" href="#about">About</a></li>
  </ul>
  
  <h1>Log in</h1>
  <form>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>

    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password"><br>

    <input type="radio" id="remember" name="remember" value="Remember Me">
    <label for="remember">Remember Me</label><br>

     <input type="submit" value="Submit">
     
  </form>

</html>
