<!DOCTYPE html>

<html>
<header>
  <h1 style="color:orange; text-align:center">
    FORMATTY
  </h1>
</header>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/file_list">File List</a></li>
    <li><a href="/download">Download</a></li>
     <li style="float:right"><a class="active" href="#about">About</a></li>
  </ul>
  
<p style="color:orange; text-align:center">
    Upload any file:

  <form style="text-align:center"action="/action_page.php">
    <input style="color:orange" type="file" id="myfile" name="filename">
    <input type = "submit" value="Submit">
  </form>
</p>

</html>
